# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Y2学习1\manghe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
